<div class="col-md-4 col-lg-3 col-xl-2 p-2">
  <div class="card text-bg-dark border-secondary h-100">
    <img style="background-color: blue;" height="150" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Firefox_logo%2C_2019.svg" class="card-img-top p-3 rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title">Firefox Gaming Browser</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

    </div>
    <div class="card-footer border-secondary container">
      <a href="#" class="btn btn-primary col-12">Download</a>
      <a href="#" class="btn btn-success col-12">Play</a>
    </div>
  </div>
</div>